* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
}

body {
  font-family: "Quicksand", sans-serif;
}

#root {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
  align-items: stretch;
  flex: 1;
}

:root {
  --primary-colour: black;
  --secondary-colour: white;
  --third-colour: lightgray;
  --fourth-colour: #3e5d22;
  --fifth-colour: #f5f5f5;
}

#message {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

#message-inverted {
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.main {
  width: 100%;
  min-height: 100vh;
  transition: width 0.3s ease-in-out;
  padding: 3.925rem 0 0 0;
  background-color: var(--fifth-colour);
  display: flex;
  flex-direction: column;
}

.page {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header {
  border-bottom: 1px solid var(--third-colour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  height: 50px;
}

.page-header-h5 {
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-container {
  background-color: var(--secondary-colour);
  border: 1px solid var(--third-colour);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.sub-heading {
  font-weight: 600;
  font-size: 1.1rem;
}

.side-nav-active {
  width: 85vw !important;
}

.coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.coolBeans::after {
  background-color: var(--secondary-colour);
  border-radius: 3rem;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  border: 2px solid transparent;
  color: var(--primary-colour);
  transform: scale(1.05);
  will-change: transform;
}

.coolBeans > a {
  color: var(--secondary-colour);
}

.coolBeans:hover > a {
  color: var(--primary-colour);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  height: 16px;
  width: 16px;
  background-image: url("./assets/x-circle-fill.svg");
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
}

input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

label {
  font-weight: 600;
}
