#multiselect {
  width: 250px;
}

#genres {
  display: none;
  position: absolute;
  width: inherit;
  border: 1px solid var(--tertiary-colour);
  background-color: var(--secondary-colour);
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 0.25rem;
  z-index: 1000;
}

.dropdown-heading {
  font-weight: 900;
  margin-bottom: 0.3em;
  text-indent: 0.3em;
  text-decoration: underline;
}

#selected-genres {
  margin-bottom: 10px;
  width: inherit;
}
