#new-thread-page {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#new-thread-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 1.5rem;
}

#new-thread-heading {
  margin: 1.5rem 2rem 0.5rem 2rem;
}

#thread-comment {
  height: 300px;
}

#create-thread-button {
  margin: 0.5rem 0 1.5rem 0;
  width: 12rem;
}

.new-thread-element {
  width: 800px;
}
