#password-criteria {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.criteria-icon {
  margin-right: 1rem;
}

.criteria {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.red {
  color: red;
}

.green {
  color: green;
}
