#account-page {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#account-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#account-form-heading {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 1.5rem 2rem 0.5rem 2rem;
}

#save-details-button {
  margin-top: 0.5rem;
  width: 10rem;
}
