#account-page {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#account-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: 1.5rem;
}

#save-details-button {
    margin: 0.5rem 0 1.5rem 0;
    width: 10rem;
}
