#account {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.account-content {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#account-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-grow: 1;
}

.form-control:focus {
  border-color: var(--primary-colour);
  box-shadow: none;
}

.account-form-element {
  display: flex;
  margin: 1.5em;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.account-input {
  width: 300px;
}

.account-submit {
  margin: 3em;
  width: 150px;
  color: var(--secondary-colour);
  background-color: var(--primary-colour);
}

.account-submit:hover {
  color: var(--primary-colour);
  background-color: var(--secondary-colour);
  border: 1px solid var(--primary-colour);
}

.account-submit:focus {
  box-shadow: none;
}

.account-input:-webkit-autofill,
.account-input:-webkit-autofill:hover {
  border: 1px solid var(--primary-colour);
  -webkit-text-fill-color: var(--primary-colour);
  -webkit-box-shadow: 0 0 0px 1000px inset;
  box-shadow: var(--primary-colour);
  transition: background-color 5000s ease-in-out 0s;
}

.account-input:-webkit-autofill:focus {
  border: 1px solid var(--primary-colour);
  -webkit-text-fill-color: var(--primary-colour);
  -webkit-box-shadow: 0 0 0px 1000px inset;
  box-shadow: var(--primary-colour);
  transition: background-color 5000s ease-in-out 0s;
}
