.widget > .input-group {
  margin: unset;
  margin-bottom: 0.5rem;
}

.widget > .input-group > .sub-heading {
  margin: unset;
  display: flex;
  flex-grow: 1;
}

.widget > .input-group > .input-group-append > button {
  height: 100%;
}
