.multiselect {
  width: 250px;
}

#genres {
  display: none;
  position: absolute;
  width: inherit;
  border: 1px var(--tertiary-colour) solid;
  background-color: var(--secondary-colour);
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 0.25rem;
}
