.multiselect {
  width: 250px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
}

.selectBox:hover {
  cursor: pointer;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#genres {
  display: none;
  position: absolute;
  width: inherit;
  border: 1px var(--tertiary-colour) solid;
  background-color: var(--secondary-colour);
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 0.25rem;
}
