.thread {
  display: flex;
  align-items: center;
  color: var(--primary-colour);
  margin-bottom: 0.7rem;
  height: 140px;
  width: 100%;
}

.thread:last-of-type {
  margin: 0;
}

.thread-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem;
}

.thread-container:first-of-type {
  border-right: 1px solid var(--third-colour);
  width: 80%;
}

.thread-container:last-of-type {
  width: 20%;
  justify-content: center;
}

.thread-container p {
  margin: 0;
}

.thread-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.thread-initial-comment {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.thread-sub-info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.thread-label {
  font-weight: 700;
}

.icon-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 0.2rem;
}

.browse-threads-icon {
  border: none;
  background: none;
  font-size: 1.3rem;
  color: var(--primary-colour);
  width: unset !important;
  vertical-align: middle;
}
