.track {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    height: 140px;
    width: 100%;
    color: var(--primary-colour);
}

.track:last-of-type {
    margin: 0;
}

.album-image-container {
    border-right: 1px solid var(--third-colour);
    padding-right: 0.8rem;
}

.track-image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.track-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0.8rem;
}

.track-info {
    margin: 0;
}

.track-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sub-info {
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;
    flex-grow: 1;
}

.action-button {
    background: none;
    border: none;
    font-size: 1.7rem;
    cursor: pointer;
    color: var(--primary-colour);
    width: unset !important;
    vertical-align: middle;
    margin-left: 2rem;
}
