#thread-expanded-page {
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#thread-heading {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  min-height: 140px;
}

#thread-heading-text {
  height: fit-content;
  min-height: 90%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#thread-title-text {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

#add-new-comment {
  margin-bottom: 2rem;
}

#add-new-comment-textarea {
  border-radius: 0.2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#submit-comment {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-radius: 0.2rem;
  background-color: var(--secondary-colour);
  border-color: var(--third-colour);
  color: var(--primary-colour);
  z-index: unset;
  height: 100%;
  font-size: 1.2rem;
}

#submit-comment:focus {
  box-shadow: none;
}
