#thread-heading {
  width: 80%;
  padding: 1em;
  margin: 1em;
  display: flex;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border-radius: 1em;
}

#thread-info {
  width: 80%;
}

#like-info {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.like-icon {
  border: none;
  background: none;
  font-size: 1.3rem;
  color: var(--primary-colour);
}

.posted-by {
  margin: 0;
}

#submit-comment {
  border: none;
  background: none;
  font-size: 1.3rem;
}
