#dashboard-page {
  display: flex;
  min-height: 100%;
}

.muuri {
  min-height: fit-content !important;
  width: 100%;
}

.muuri-item {
  min-width: 500px;
  width: calc((100% - 2rem) / 2);
  height: 500px;
  margin: 1rem 0.5rem 0 0.5rem;
}

.muuri-item-dragging {
  border-color: var(--primary-colour) !important;
}

.muuri-item-placeholder {
  opacity: 0.5;
  margin: 0;
  border-style: dashed !important;
}
