#forum-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transform: translateY(-1px);
}

#search {
    width: 320px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tab-pane {
    flex-grow: 1;
}

.nav-tabs {
    border-color: var(--third-colour);
}

.nav-tabs > .nav-item {
    padding: 0;
}

.nav-tabs > .nav-item > .nav-link {
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: unset;
}

.nav-tabs > .nav-item > .active {
    background-color: var(--fifth-colour);
    border: 1px solid var(--third-colour) !important;
    border-bottom: var(--fifth-colour) !important;
}

.nav-tabs > .nav-item > .active:hover {
    color: var(--fourth-colour);
}

.nav-tabs > .nav-item > .nav-link:hover {
    border: 1px solid var(--third-colour);
    border-left: 1px solid var(--fifth-colour);
    border-right: 1px solid var(--fifth-colour);
}
