#forum {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

#search {
  width: 250px;
}

.form-control:focus {
  border-color: var(--primary-colour) !important;
  box-shadow: none;
}

#new-thread-button > * {
  color: var(--secondary-colour);
  text-decoration: none;
}
